@use '../../app.scss';

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  border: none;
  padding: 20px 0 5px;
}

.stretch {
  grid-column: 1 / 8;
}

.longleft {
  grid-column: 1 / 6;
}

.shortright {  
  grid-column: 6 / 8;
}

.shortleft {
  grid-column: 1 / 3;
}

.longright {  
  grid-column: 3 / 8;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: app.$purple;
  margin-left: 4px;
  padding-bottom: 5px;
  
}


.form__container-input, .form__container-input:focus { 
  margin-top: 15px;
  color: app.$purple;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid app.$purple;
  border-radius: 3px;
  padding: 7px 13px;
  width: 100%; 
  max-width: 100%;
}


.form__container-input:focus {
  border-color: app.$grapefruitred;
  outline: none;
  box-shadow: 0 0 0 2px app.$grapefruitred inset;
}


.form__container-input::placeholder {
  color: app.$purple;
  font-weight: 300;
}

.form__container-redirect {
  color: app.$purple;
  padding: 10px;
  position: relative;
  font-weight: 300;
}


.form__container__error__container {
  list-style-type: none;
  border: 2px solid app.$grapefruitred;
  font-weight: 600;
  color: app.$grapefruitred;
  padding: 12px;
  border-radius: 3px;
  margin: 12px auto;
  font-size: 16px;

  
}




.signout{
  cursor: pointer;
}
