@use '../../app.scss';

fieldset {
  border: none;
  padding: 0 0 20px;
  margin-bottom: 0;
  padding: 5px 0 5px;
}

.formgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 28px 28px 0.05fr;
  column-gap: 10px;
  border: none;
  padding: 2px 0 2px;
}

.oneeleven {
  grid-column: 1 / 11;
}

.oneseven {
  grid-column: 1 / 7;
}

.seveneleven {  
  grid-column: 7 / 11;
}

.onethree {
  grid-column: 1 / 3;
}

.threeeleven {  
  grid-column: 3 / 11;
}

.onetwo {
  grid-column: 1 / 2;
}

.sixeight {
  grid-column: 6 / 8;
  
 }

.onefour {
  grid-column: 1 / 4;
}

.foureight {
  grid-column: 4 / 8;
}

.fourseven {
  grid-column: 4 / 7;
}

.seveneleven {
  grid-column: 7 / 11;
}

.fiveeleven {
  grid-column: 5 / 11;
}


.eightnine {
  grid-column: 8 / 9;
}

.nineten {
  grid-column: 9 / 10;
  flex-direction: column;
}

.asphalt {

  color: app.$asphalt;
  font-size: 12px;
  
}

.light-purple {
  position: relative;
  color: app.$light-purple;
  font-size: 13px;
  padding-top: 20px;
  left: 4px;
}


legend {
  font-size: 1.2em;
  grid-column: 1 / 4;
  font-weight: bold;
  color: app.$purple;
  margin-left: 4px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.form__container-input, .form__container-input:focus, .form__container-textfieldinput { 
  margin-top: 10px;
  color: app.$purple;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid app.$light-purple;
  border-radius: 3px;
  padding: 0 10px;
  width: 100%; 
  max-width: 100%;
  height: 40px;
}

.form__container-textfieldinput {
  height: 250px;
  resize: none;
  padding: 10px;
  font-weight: 300;
  color: app.$asphalt;
}

.form__container-input:focus, .form__container-textfieldinput:focus {
  border-color: app.$grapefruitred;
  outline: none;
  box-shadow: 0 0 0 2px app.$grapefruitred inset;
}


.form__container-input::placeholder {
  color: app.$light-purple;
  font-weight: 300;
  font-size: 16px;
}

.form__container-redirect {
  color: app.$purple;
  padding: 10px;
  position: relative;
  font-weight: 300;
  
}

.form__container__error__container {
  list-style-type: none;
  border: 2px solid app.$grapefruitred;
  font-weight: 600;
  color: app.$grapefruitred;
  padding: 12px;
  border-radius: 3px;
  margin: 12px auto;
  font-size: 16px;
}

.signout{
  cursor: pointer;
}
