@use '../../app.scss';

fieldset {
  border: none;
  padding: 0 0 20px;
  margin-bottom: 0;
  padding: 5px 0 5px;
}

.formgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 16px 16px 1px;
  column-gap: 10px;
  border: none;
  padding: 2px 0 2px;
}

.oneeleven {
  grid-column: 1 / 11;
}

.seveneleven {
  grid-column: 7 / 11;
}

.onetwo {
  grid-column: 1 / 2;
}

.sixeight {
  grid-column: 6 / 8;
}

.fourseven {
  grid-column: 4 / 7;
}


.fiveeleven {
  grid-column: 5 / 11;
}

.eightnine {
  grid-column: 8 / 9;
}

.nineten {
  grid-column: 9 / 10;
  flex-direction: column;
}


.userid {
  grid-column: 1 / 11;
}

.email {
  grid-column: 1 / 11;
}

.zipcode {
  grid-column: 1 / 3;
}

.place {
  grid-column: 3 / 11;
}

.street {
  grid-column: 1 / 8;
}

.housenumber {
  grid-column: 8 / 11;
}

.dateofbirth {
  grid-column: 1 / 6;
}

.boygirl {
  grid-column: 6 / 11;
}

.asphalt {
  color: app.$asphalt;
  font-size: 0.9em;
}

.light-purple {
  position: relative;
  color: app.$light-purple;
  font-size: 0.9em;
  padding-top: 20px;
  left: 4px;
}

.error-message {
  font-size: 0.9em;
  color: #ff0037;
  padding: 4px 2px;
}

legend {
  font-size: 1.2em;
  grid-column: 1 / 4;
  font-weight: bold;
  color: app.$purple;
  margin-left: 4px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.form-container-input,
.form-container-input:focus,
.form-container-textfieldinput {
  margin-top: 8px;
  color: app.$purple;
  font-size: 0.9em;
  font-weight: 600;
  border: 1px solid app.$light-purple;
  border-radius: 3px;
  padding: 0 5px;
  width: 100%;
  max-width: 100%;
  height: 30px;
}

label {
  font-size: 0.9em;
}

.form-container-textfieldinput {
  height: 250px;
  resize: none;
  padding: 20px 11px;
  font-weight: 300;
  color: app.$asphalt;
}

.form-container-input:focus,
.form-container-textfieldinput:focus {
  border-color: app.$grapefruitred;
  outline: none;
  box-shadow: 0 0 0 2px app.$grapefruitred inset;
}

.form-container-input::placeholder {
  color: app.$light-purple;
  font-weight: 300;
}

.form-container-redirect {
  color: app.$purple;
  padding: 10px;
  position: relative;
  font-weight: 300;
}

.form-container__error__container {
  list-style-type: none;
  border: 2px solid app.$grapefruitred;
  font-weight: 600;
  color: app.$grapefruitred;
  padding: 12px;
  border-radius: 3px;
  margin: 12px auto;
  font-size: 16px;
}

.signout {
  cursor: pointer;
}

@media only screen and (min-width: 540px) {
  .userid {
    grid-column: 1 / 4;
  }

  .email {
    grid-column: 5 / 11;
  }

  .zipcode {
    grid-column: 1 / 3;
  }

  .place {
    grid-column: 3 / 11;
  }

  .dateofbirth {
    grid-column: 1 / 5;
  }

  .boygirl {
    grid-column: 5 / 8;
  }

  .form-container-input,
  .form-container-input:focus,
  .form-container-textfieldinput {
    font-size: 0.9em;
    padding: 0 10px;
  }

  .form-container-textfieldinput {
    padding: 11px 11px;
  }
}