@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
    
$main-bg-color:  #ffafbe;
$light-purple:#a096b0; 
$purple:#3b0380; 
$dark-purple:#29065e; 
$islandaqua: #00C9B8;
$gray: #E2E0E5;
$grapefruitred: #FF5E54;
$asphalt: #1c1c1c;
$triggerpoint: 960px;


* {
 font-family: 'Blinker', sans-serif;
 letter-spacing: 0.02em;
}

h1, h2, h3, h4 {
  padding: 30px 0 30px;
  font-size: 28px;
  text-align: center;
  color: $purple;
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  position: relative;
  top: 22px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h4 a, h4 a:hover, h4 a:focus, h4 a:active, h4 a:visited {
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-underline-offset: 2px;
}

.mainpage, .islandaquabg, .graybg, .lightpurplebg {
  position: fixed;
  background-color: $main-bg-color;
  background-repeat: repeat;
  background-size: 225% 150%, cover;
  background-position: center, 50% 50%;
  height: 100%;
  width: 100%;
  letter-spacing: 0.00em;
  z-index: 1004;
  overflow-y: scroll;
}



.islandaquabg {
  background-color: $islandaqua;
}

.graybg {
  background-color: $gray;
}

.lightpurplebg {  
  background-color: $light-purple;
}
  
.main__title {
  position: relative;
  top: 12%;
  vertical-align: middle;
  text-align: center;
  color: $purple;
  font-size: 4.8em;
  line-height: 0.9em;
  font-weight: 800;
}

.main__container--titles {
  padding: 10px 50px 30px !important;
  border-bottom: 2px solid $purple;
  margin-bottom: 30px;
}

.navigation {
  position: fixed;
  background-color: transparent;
  top: 20px;
  left: 10px;
  z-index: 5;
  line-height: 27px;
  font-size: 14px;
}

@media only screen and (max-height: 800px) {
  .main__title {
    top: 5%;
      font-size: 3.8em;
    }
}

@media only screen and (max-width: 400px) {
  .main__title {
      font-size: 3.9em;
    }
}


@media only screen and (max-width: 500px) {
  .main__container--titles {
  padding: 10px 5px 30px !important;
}
}

@media only screen and (min-width: 600px) {
  .main__title {
      font-size: 4.2em;
    }

}

@media only screen and (min-width: 801px) {
  .main__title {
      font-size: 4.8em;
    }
}


.main__btns { 
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 70px;
  width: 100%;
  margin-top: 90px;
}

.main__link, .pick__date {
  display: flex;
  font-weight: 600;
  text-decoration: none;
  border: 4px solid white;
  border-radius: 3px;
  width: 90%;
  max-width: 630px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  font-size: 25px;
  color: white;
  height: 56px;
  }

.pick__date {
  background-color: white;
  color: $purple;
}

.form__container, .picker, .main__container {
  position: relative;
  top: 7%;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0px auto 130px;
}


.form__container hr {
  border: 1px solid white;
  margin: 30px 0 10px;
}

.main__container--button__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0px 0px 160px;
}

.btn--back, .btn, .lonely-next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  border: 3px solid white;
  border-radius: 3px;
  z-index: 9;
  max-height: 40px;  
} 



.btn, .lonely-next-btn  {
  background-color: $purple;
  border: 3px solid $purple;
  width: 100%;
} 




.btn:hover {
  background-color: transparent;
  color: $grapefruitred;
  border: 3px solid $grapefruitred;
}


.lonely-next-btn:hover {
  background-color: transparent;
  color: white;
  border: 3px solid white;
}


.btn--back {
  background-color: transparent;
  color: $purple;
  border: 3px solid $purple;
}

.btn--back:hover {
  color: $grapefruitred;
  border: 3px solid $grapefruitred;
}


.backbutton {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: $purple;
  font-size: 22px;
  border: 3px solid white;
  border-radius: 3px;
}

.lonely-next-btn {
  width: 70%;
}

