@use '../../app.scss';

.icon {
    max-width: 30px;
    cursor: pointer;
    align-self: end;
      }

.purple--icon {
 fill: app.$grapefruitred;
}      
      
.icon__addicon { 
    fill: app.$grapefruitred;
    cursor: pointer;  
}

.icon__deleteicon {
    fill: app.$grapefruitred;
    cursor: pointer;
}

.summaryicon-container {   
    width: 30px;
    position: fixed;
    cursor: pointer;
    z-index: 15;
    top: 20px;
    right: 30px;

}

.icon__summaryicon {
    width: 30px;
}
