@use '../../app.scss';

.icon {
    max-width: 30px;
    cursor: pointer;
    align-self: end;
      }

.purple--icon {
 fill: app.$grapefruitred;
}      
      
.icon__addicon { 
    fill: app.$grapefruitred;
    cursor: pointer;  
}

.icon__deleteicon {
    fill: app.$grapefruitred;
    cursor: pointer;
    z-index: 9000;
}

.summaryicon-container {   
    position: fixed;
    width: 100%;
    top: -110px;
    right: 40px;
    z-index: 15;
    height: 30px;
}


.summaryicon-container__summaryicon-bubble {
    display:flex;
    justify-content: flex-end;
    width: app.$triggerpoint;
    max-width: 1100px;
    z-index: 15;
    border: 1px solid black;
    margin: 0 auto;
    height: 30px;
}



.summaryicon-container__summaryicon-bubble--icon {
    position: relative;
    width: 25px;    
    height: 25px; 
    cursor: pointer;
    top: 118px;
}


@media screen and (max-width: app.$triggerpoint) {

    
.summaryicon-container {   
    position: relative;

}


    .summaryicon-container__summaryicon-bubble {
        width: 100%;
    }

    .summaryicon-container__summaryicon-bubble--icon {
        position: relative;
        width: 28px;    
        right: -20px;
        height: 28px; 
        cursor: pointer;
        top: 94px;
    }


}
