@use '../../app.scss';

.picker {
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;
  width: 420px;
};

.sub-caption {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  color: app.$purple;
};

.react-datepicker {
  font-size: 0.8rem;
  background-color: transparent;
  color: app.$purple;
  border: 0px;
  display: block;
  position: relative;
  width: 420px;
  height: 400px;
  border-radius: 0;
  border-bottom: 0px solid white;
  margin-bottom: 40px;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.react-datepicker__aria-live {
  border: 0px;
}

.react-datepicker__header {
  background-color: transparent;
}

.react-datepicker__header {
  border: 0px;
}
  
.react-datepicker__navigation { 
  margin: 0 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 30px;
 }

.react-datepicker__navigation-icon::before {
  border-color: app.$purple;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  margin-bottom: 10px;
}

.react-datepicker__month-container {
  width: 100%;
  margin: 0px auto;
  font-size: 1.0em;
}

.react-datepicker__current-month {
  color: app.$purple;
  font-size: 1.35em;
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 7px;
  border: 2px solid white;
  border-radius: 0.4em;
}

.react-datepicker__day, .react-datepicker__day-name {
  border-radius: 0.3rem;
  color: app.$purple;
  font-size: 1.40em;
  background-color: white;
  width: 46px;
  height: 45px;
  margin: 3px 3px 3px 3px;
  padding: 0.5em 0 0;
  font-weight: 600;
}

.react-datepicker__day-name {
  background-color: transparent;
  font-size: 1.2em;
  position: relative;
  top: 5px;
  padding: 19px 4px 4px 6px;
  font-weight: 600;
}

.react-datepicker__day:hover {
  background-color: app.$islandaqua;
  color: app.$purple;
}

.react-datepicker__day--disabled {
    background-color: #ffffff;
    color: app.$light-purple;
}

.react-datepicker__day--disabled:hover {
  background-color: #ffffff !important;
  color: app.$light-purple !important;
}

.react-datepicker__day--outside-month {
  background-color: transparent;
  color: white;
}

.react-datepicker__day--outside-month.react-datepicker__day--disabled:hover {
  background-color: transparent !important;
  color: white !important;
}


.react-datepicker__day--outside-month:hover {
  background-color: app.$islandaqua;
  color: app.$purple;
}

.react-datepicker__day--today {
  background-color: #ffffff;
  color: app.$gray;
}

.react-datepicker__day--today:hover {
  color: app.$gray !important;
}

.react-datepicker__day--selected {
  background-color: app.$islandaqua;
  color: app.$purple;
  font-weight: 800;
}

.react-datepicker__navigation {
  margin: 10px 15px;
}

.react-datepicker__navigation-icon {
  
  position: relative;
  top: 5px;

 }
 
.react-datepicker__navigation-icon--next {
  left: -12px;
 }
 
 .react-datepicker__navigation-icon--previous {
  right: -12px;
 }


.multi-range-slider-container {
  width: 90%;
  max-width: 400px;
  margin: 10px auto 0 !important;
  padding: 10px auto 0 !important;
}







@media only screen and (min-width: 250px) and (max-width: 325px) {

  .calendar {
    font-size: 1.45em;
  }
  .react-datepicker {
  width: 270px;
  height: 270px;
  }

  
.react-datepicker__current-month { 
  width: 50%;
  font-size: 1.1em;
}
  .react-datepicker__day, .react-datepicker__day-name {
    width: 27px;
    height: 27px;
    margin: 0.15em;
    font-size: 0.98em;
    padding-top: 0.05em;
  }  

  .multi-range-slider-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0 !important;
    padding: 10px auto 0 !important;
    font-size: 0.85em;
  }

  .divOutput--time {
    width: 56px;
    height: 40px;
    font-size: 1.1em;
}

.lonely-next-btn {
  width: 100% !important;
  font-size: 1.2em !important;
}
}



@media only screen and (min-width: 326px) and (max-width: 375px) {

  .calendar {
    font-size: 1.45em;
  }
  .react-datepicker {
  width: 320px;
  height: 300px;
  }
  .react-datepicker__day, .react-datepicker__day-name {
    width: 35px;
    height: 32px;
    font-size: 1.0em;
    padding-top: 0.2em;
  }  

  .multi-range-slider-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0 !important;
    padding: 10px auto 0 !important;
    font-size: 0.85em;
  }

  .divOutput--time {
    width: 67px;
    height: 50px;
    font-size: 1.2em;
}

.lonely-next-btn {
  width: 100% !important;
  font-size: 1.2em !important;
}
}



@media only screen and (min-width: 376px) and (max-width: 450px) {

  .calendar {
    font-size: 1.6em;
    padding-top: 0;
  }
  .react-datepicker {
  width: 360px;
  height: 360px;
  }
  .react-datepicker__day, .react-datepicker__day-name {
    width: 40px;
    height: 39px;
    font-size: 1.1em;
    padding-top: 0.3em;
  }  

  .multi-range-slider-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0 !important;
    padding: 10px auto 0 !important;
  }

  .divOutput--time {
    width: 70px;
    height: 55px;
    font-size: 1.2em;
}

.lonely-next-btn {
  width: 100% !important;
}
}



@media only screen and (min-width: 451px) and (max-width: 650px) {


  .react-datepicker {
  width: 420px;
  height: 380px;
  }
  .lonely-next-btn {
    width: 100% !important;
    max-width: 410px;
  }
  
}


@media only screen and (min-width: 651px) and (max-width: 800px) {


  .react-datepicker {
  width: 380px;
  height: 360px;
  }



}
