@use '../../app.scss';


.multi-range-slider-container {
    width: 90%;
    max-width: 400px;
    margin: 10px auto 0 !important;
    padding: 10px auto 0 !important;
}



.multi-range-slider * {
	box-sizing: border-box;
	padding: 0px !important;
	margin: 0px !important;
}
.multi-range-slider {
	display: flex;
	position: relative;
	border: solid 0px gray !important;
	border-radius: 0px;
	padding: 0px 0px;
	box-shadow: 0px 0px 0px black !important;
	flex-direction: column;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}
.multi-range-slider .bar {
	display: flex;
}
.multi-range-slider .bar-left  {
    border: solid 0px#efb9bd !important; 
	width: 25%;
	background-color: #ffe7e9  !important;
	border-radius: 0px 0px 0px 10px;
	box-shadow: inset 0px 1px 1px #e6969c !important;
	padding: 3px 0px !important;
}
.multi-range-slider .bar-right {
    border: solid 0px#efb9bd !important; 
	width: 25%;
	background-color: #ffe4e5 !important;
	border-radius: 0px 10px 10px 0px;
	box-shadow: inset 0px 1px 1px  #e6969c !important;
}
.multi-range-slider .bar-inner {
	background-color: app.$islandaqua!important;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	position: relative;
	border: solid 0px#efb9bd !important; 
	justify-content: space-between;
	box-shadow: inset 0px 1px 1px app.$light-purple !important;
    padding: 2px 0px !important
}

.multi-range-slider .bar-inner-left {
	width: 50%;
}
.multi-range-slider .bar-inner-right {
	width: 50%;
}
.multi-range-slider .thumb {
	background-color: app.$purple !important;
	position: relative;
    box-shadow: inset 0px 2px 1px app.$light-purple !important;
	z-index: 1;
	cursor: pointer;
}
.multi-range-slider .thumb::before {
	content: '';
	background-color: inherit;
	position: absolute;
	width: 19px !important;
	height: 19px !important; 
	border: solid 0px app.$main-bg-color !important;
	box-shadow: 0px 0px 0px black, inset 0px 0px 0px gray !important;
	border-radius: 10px !important;
	z-index: 1;
	margin: -7px -6px !important;
	cursor: pointer;
}
.multi-range-slider .input-type-range:focus + .thumb::after {
	content: '';
	position: absolute;
	top: -4px;
	left: -7px;
	width: 11px;
	height: 11px;
	z-index: 2;
	border-radius: 50%;
	border: dotted 1px black;
	box-shadow: 0px 0px 0px white, inset 0px 0px 0px black !important;
}



.multi-range-slider .thumb .caption * {
    position: absolute;
	min-width: 30px;
	height: 30px;
	font-size: 1.0em !important;
    font-weight: 600;
	text-align: center;
	line-height: 30px;
	background-color: transparent !important;
	border-radius: 5px !important;
	color: app.$purple !important;
	box-shadow: 0px 0px 0px black !important;
	padding: 15px 15px !important;
	white-space: nowrap;
    z-index: 25;
}

.multi-range-slider .caption {
    display: none !important;
	position: absolute;
	bottom: 35px;
	width: 2px;
	height: 2px;
	left: 0px !important;
    top: -33px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	display: none;

}

.caption::before {
    content: '';
    color: app.$islandaqua;
    font-size: 1.7em;
    position: absolute;
    top: 7px;
    z-index: 20;
}

.caption::after {
    content: 'h';
    font-weight: 600;
    color: app.$purple;
    position: absolute;
    left: 22px;
    top: 7px;
    z-index: 40;
}

.multi-range-slider .thumb:active .caption {
	display: flex;
}
.multi-range-slider .input-type-range:focus + .thumb .caption {
	display: flex;
}
.multi-range-slider .input-type-range {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}

.multi-range-slider .ruler {
	margin: 10px 0px -5px 0px;
	display: flex;
	/* display: none; */
	overflow: hidden;
}
.multi-range-slider .ruler .ruler-rule {
    display: none !important;
}
.multi-range-slider .ruler .ruler-rule:last-child {
	border-right: solid 1px;
}

.multi-range-slider .ruler .ruler-sub-rule {
	border-left: solid 1px;
	/* border-bottom: solid 1px; */
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 3px 0px;
	bottom: 0px;
	margin-bottom: -5px;
}
.multi-range-slider .ruler .ruler-sub-rule:first-child {
	border-left: none;
}

.multi-range-slider .labels {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: -20px;
	/* display: none; */
}
.multi-range-slider .label {
	font-size: 80%;
	display: flex;
	width: 1px;
	justify-content: center;
    color: transparent;
}
.multi-range-slider .label:first-child {
	justify-content: start;
}
.multi-range-slider .label:last-child {
	justify-content: end;
}
.multi-range-slider.zero-ranage-margin .thumb-left {
	right: 12px;
}
.multi-range-slider.zero-ranage-margin .thumb-right {
	left: 8px;
}


.divOutput {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin: auto;
    font-weight: 600;
    color: app.$purple;
    padding: 10px 0 30px;
    position: relative;
  }


  .divOutput::after {
	content: "h";
	position: relative;
	right: 0px;

}


.divOutput--time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 60px;
    font-size: 1.3em;
    font-weight: 800;
    background-color: white;
    border-radius: 0.3em;
    color: app.$purple;
	margin: 0 0.5em;
}