@use '../../app.scss';

.main__container__mybookingstable {
  display: grid;
  grid-template-columns: 70%  20%;
  column-gap: 10%;
  grid-auto-rows: 23px;
  font-size: 0.7em;
  color: app.$purple;
  font-weight: 500;
  padding: 34px 0;
  align-items: end; 
  border-bottom: 1px dotted app.$purple;
}  

.main__container__mybookingstable--name {
  grid-column: 1 / 3;
  font-weight: 700;
  font-size: 1.5em;
  position: relative;
  top: -10px;
}

.main__container__mybookingstable--date {
  grid-column: 1 / 2;
}



.main__container__mybookingstable--id {
  grid-column: 2 / 3;
  
}

.main__container__mybookingstable--kids {
  grid-column: 1 / 2; 

}

.main__container__mybookingstable--price {
  grid-column: 2 / 3;

}
  
.buttons-container {
  grid-column: 1/3;
}
