@use '../../app.scss';


.gray {
  display: none;
}

.navbar {
  background: transparent;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.pointer {
  display: none;
}

.navbar-container {
  display: flex;
  height: 100px;
  width: 1000px;
}

.container {
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
}

.navbar-logo {
  position: relative;
  cursor: pointer;
  width: 125px;
  height: 21px;
  top: 2px;
  left: -39px;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: auto;
  width: auto;
  max-width: 1600px;
}


.nav-item {
  display: flex;
  justify-content: center;
  height: 52px;
  border-bottom: 2px solid transparent;
  width: 100px;
  padding-top: 1px;
  margin-right: 10px;
}


.nav-item:hover {
  border-bottom: 2px solid app.$purple;
  color: app.$main-bg-color;
}

.nav-links {
  color: app.$purple;
  display: flex;
  align-items: center;
  text-decoration: none;;
  height: 100%;
  padding-top: 3px;
}

.nav-links:hover {
  color: white;
}

.nav-nonlink {
  color: app.$purple;
  padding-left: 10px;
  line-height: 1.0em;
  padding-right: 2.0em;
 }

 .whitespace {
  width: 185px;
}


.activated {
  color: app.$gray;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: app.$triggerpoint) {

  .pointer {
    display: block;
    cursor: pointer;
  }
  .navbar {
    background: transparent;
    font-size: 1.12rem;
    z-index: 59;
  }


  .navbar-container {
    
    height: 10px;
    width: 100%;
  }


  .burger, .cross {
    position: relative;
    background-color: white;
    width: 40px;
    height: 40px;
    left: 2px;
    top: -5px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    border-radius: 30px;
  }

  .cross {
    padding: 0px;
  }

  .navbar-background {
    background: transparent !important;
  }
 
  .gray {
    display: block;
    z-index: -100;
  } 

  .navbar-logo {
    display: none;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 215px;
    position: absolute;
    top: 0px;
    left: -250px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 90px 0 30px;

  }

  .nav-menu.active {
    background: app.$dark-purple;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    width: 215px;
    border-bottom-right-radius: 40px;
    color: white;
    z-index: 999;
  }

  .nav-links, .nav-nonlink {
    padding: 0.25rem 2rem;
    width: 100%;
    color: app.$gray;
    line-height: 1.3em;
  }

  .nav-nonlink {
    color: app.$main-bg-color;
    padding: 1.25rem 2rem;
   }

   .whitespace {
display: none;
  }
  

  .nav-nonlink:after {
    position: absolute;
    font-size: 1.25rem;
    content: ".......................................";
    bottom: 240px;
    right: 85px;
    width: 100px;
    height: 2px;

  }


  .activated {
    color: app.$islandaqua;
  }
  

  .nav-links:hover {
    color: app.$islandaqua;
  }

  .nav-item {
    width: 100%;
    height: 46px;
    margin-right: 0;
  }


  .nav-item:hover {
    border-bottom: 2px solid transparent;
  }



  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 50px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 8500;
  }
}

